# PostgreSQL connection string
DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<database>

POSTGRES_USER=your-username
POSTGRES_PASSWORD=your-password
POSTGRES_DB=your-database

# Auth
API_KEY=your-api-key
