# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# MyPy / type checker
.mypy_cache/
.dmypy.json

# Ruff / lint caches
.ruff_cache/

# IDEs
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

.ipynb_checkpoints/

#local uploads
uploads/
media/